<!DOCTYPE html>
<html>
<head>
  <title>Kanye</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>
<%= render '/layouts/nav' %>

<div class="container">
  <span class="notice"><%= notice %></p>
  <span class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>
