<head>

<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>





</head>

<body class="noscroll"> 
<!-- disables scrolling -->
	<div class="backgroundimage"> 
	<!-- includes background image resizable -->
		<div class="whiteopac"><!-- inludes white opacitated overlay -->
			<center>
			<div class="title">
				<img src="indeximages/favicon.ico" class="logo">
					<div id="namediv">
						<p id="nameheading">POSTABLES</p>
					</div>
					
			</div>
			</center>
			<center>
					   	 <div class="buttondiv"> 

					    		<!--button 1 -->
					    		<div id="loginload" class="btn btn-primary" >
								  Login
								</div>
								
								<!-- button 1 end -->


								<!--button 2 -->
					    		<button id="signupload" class="btn btn-primary" >
								  Sign Up
								</button>
								
								<!-- button 2 end -->

								
								<!--button 3 -->
								<button id="BaG" class="btn btn-primary" >
								  Browse as Guest
								</button>
								<!--button 3 end -->
						
						</div> <!--end div with the buttons -->
					
						<!-- start login/signup panels -->
				
						<!-- startl login panels -->

						<div class="panel" id="loginpanel" style="display: none">
							<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
									  <div class="field" id="loginbutton">
									    <%= f.label :email %><br />
									    <%= f.email_field :email, autofocus: true %>
									  </div>

									  <div class="field">
									    <%= f.label :password %><br />
									    <%= f.password_field :password, autocomplete: "off" %>
									  </div>

									  <% if devise_mapping.rememberable? -%>
									    <div class="field" id="rememberme">
									      <%= f.check_box :remember_me %>
									      <%= f.label :remember_me %>
									    </div>
									  <% end -%>

									  <div class="actions" id="loginbutton">
									    <%= f.submit "Log in" %>
									  </div>
							<% end %>
						</div>
						<!-- end login panel -->

						<!-- startl signup panels -->
						<div class="panel" id="signuppanel" style="display: none">
							<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
						  <%= devise_error_messages! %>
						  
									  <div class="field" id="loginbutton">
									    <%= f.label :username %><br />
									    <%= f.text_field :username, autofocus: true %>
									  </div>

									  <div class="field">
									    <%= f.label :email %><br />
									    <%= f.email_field :email, autofocus: false %>
									  </div>

									  <div class="field" id="rememberme">
									    <%= f.label :password %>
									    <% if @minimum_password_length %>
									    <em>(<%= @minimum_password_length %> characters minimum)</em>
									    <% end %><br />
									    <%= f.password_field :password, autocomplete: "off" %>
									  </div>

									  <div class="field" id="rememberme">
									    <%= f.label :password_confirmation %><br />
									    <%= f.password_field :password_confirmation, autocomplete: "off" %>
									  </div>

									  <div class="actions" id="loginbutton">
									    <%= f.submit "Sign up" %>
									  </div>
						<% end %>
						</div>
						<!-- end signup panel -->
				
						<!-- end login/signup panels -->

			</center>
		  </div> 
    </div>
    
</body>	